Clase Uno

In [49]:
#Importamos la libreria pandas
import pandas as pd

In [55]:
#Cargamos 
df = pd.read_csv(r"C:\Users\aviscarra\Documents\Curso\Python\AnalisisDeDatos\Recursos\Datasets+Data+Science\1.3\Info_pais.csv",encoding="ISO-8859-1",delimiter=";")

In [63]:
#Mostramos los 10 primeros registros
df.head(10)

             País   Poblacion  Renta per capita Esperanza de vida
0   United States   325084756             59939              78,9
1           China  1421021791              8612              76,7
2           Japan   127502725             38214              84,5
3         Germany    82658409             44680              81,2
4           India  1338676785              1980              69,4
5  United Kingdom    66727461             39532              81,2
6          France    64842509             39827              82,5
7          Brazil   207833823              9881              75,7
8           Italy    60673701             32038              83,6
9          Canada    36732095             44841              82,3

In [69]:
#Creamos otro Dataframe ordenado por la columna Esperanza de vida
df_order = df.sort_values("Esperanza de vida", ascending=True)

In [71]:
#Presentamos los 10 primeros registros
df_order.head(10)

                         País  Poblacion  Renta per capita Esperanza de vida
151  Central African Republic    4596023               424              52,8
149                   Lesotho    2091534              1233              53,7
128                      Chad   15016753               657                54
143              Sierra Leone    7488423               504              54,3
28                    Nigeria  190873244              1969              54,3
89              Côte d'Ivoire   24437470              1529              57,4
158             Guinea-Bissau    1828145               737                58
120         Equatorial Guinea    1262002              9741              58,4
110                      Mali   18512430               828              58,9
91                   Cameroon   24566073              1422              58,9